html {
  /* background-color: #333745; */
  /* background-color: #1a1e1f; */
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: Montserrat,sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", CenturyGothic;
  /* background-color: #3c3c4d; */
  color: #e5e5e5;
  background-color:#1a1e1f;
}

h1 {
  font:CenturyGothic;
  /* text-align: center; */
}

h2 {
  font:CenturyGothic;
  margin-left: 5%;
  /* margin-bottom: 5%; */
}

.cd-section {
  height: 100vh;
}

.filler {
  height: 20vh;
  background-color:#1a1e1f;
}

#numbero_uno {
  /* background-color: #B8DBEE; */
  background-color: #f06a59;
  /* vertical-align: middle; */
  position: relative;
}
/*
#numbero_uno h1{
  position: absolute;
  top: 40%;
  text-align : center;
  left: 20%;
  color: black;
  font-weight: normal;
} */

#numbero_doice {
  /* background-color: #B8DBEE; */
}

div.counter{
  /* top: 70%; */
  text-align: center;
  /* color: #333745; */
  /* padding-top: 5%; */
  font-size: 80;
  color: black;
}

#waste_kg {
  left: 28%;
  /* font-weight: bold; */
}

#waste_dol {
  left: 55%;
}

/* #yeardiv {
  width: 15%;
  float: left;
} */

.intro {
  height: 60vh;
  width: 100vh;
  float: right;
  padding : 15px 15px 15px 15px;
  margin : 10px 10px 10px 10px;
}

#chartdiv {
  width: 100%;
  height:110vh;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  align-content: right;
	justify-content: right;
  position: relative;
}

 #slidervaldiv {
  height:20vh;
 }

 #yeardiv {
   height:10vh;
   font-size: 30;
 }

 #wastevaldiv {
   height:10vh;
   font-size: 80;
 }

.containerss {
	position: relative;
	display: flex;
	align-content: center;
	justify-content: center;
	overflow: visible;
}

p{
  padding: 15px 30px 15px 30px;
}

.p0 {
  font-size: 80;
  text-align: center;
  position: relative;
  top: 60%;
  color: black;
}

.p1 {
  font-size: 60;
  text-align: center;
}

.p2 {
  font-size: 30;
}

.p3 {
  font-size: 15;
  text-align: center;
  padding-top: 7%;
}

#container {
    width: 100%;
    margin: auto;
}
#first {
    width: 20%;
    float: left;
    height: 100%;
    overflow-x: visible;
    position: relative
    opacity: 20%;
}
#second {
    width: 80%;
    float: left;
    height: 100%;
    overflow: visible;
    position: relative;
}

.gif {
  float : right;
  width: auto;
  height: 40%;
}
